@import-normalize;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
:root {
	--primary: #97622b;
	--primary-light: #ffdfbe;
	--shadow-light: 3px 6px 13px 2px rgba(0, 0, 0, 0.48);
}
.home-page-container {
	display: flex;
}

.fresh-submit {
	background: #ffcc00;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}
