@import-normalize;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
:root {
	--primary: #97622b;
	--primary-light: #ffdfbe;
	--shadow-light: 3px 6px 13px 2px rgba(0, 0, 0, 0.48);
}
.home-page-container {
	display: flex;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 65%;
}
.form::placeholder {
	font-family: 'Courgette', cursive;
}
.form input,
.form select {
	padding: 10px;
	width: 100%;
	outline: none;
	margin: 7px 0;
	border-radius: 9px;
	border: 1px solid var(--primary);
	font-size: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
.form select {
	text-align: center;
	background: none;
}
.fresh-submit {
	background: #ffcc00;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}
.payment-methods {
	margin: 0 auto;
	max-width: 70%;
}
.payment-methods img {
	margin-top: 10px;
	width: 100%;
}
