body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
:root {
	--primary: #97622b;
}
.home-page-container {
	display: flex;
}

.right-side {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url('./img/Home-Page-Background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 100vh;
	width: 60%;
}

.left-side {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.left-side {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
}
.video-thumbs {
	color: white;
	width: 50%;
}

h1.title {
	font-size: 75px;
	color: var(--primary);
	font-family: 'Courgette', cursive;
}
p.video-title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 39px;
}
h2.subtitle {
	font-family: 'Courgette', cursive;
	font-size: 50px;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 65%;
}
.form::placeholder {
	font-family: 'Courgette', cursive;
}
.form input,
.form select {
	padding: 10px;
	width: 100%;
	outline: none;
	margin: 7px 0;
	border-radius: 9px;
	border: 1px solid var(--primary);
	font-size: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}
.form select {
	text-align: center;
	background: none;
}
.contact {
	margin-top: auto;
	margin-bottom: 20px;
	color: var(--primary);
	justify-self: flex-end;
	text-align: center;
	font-family: 'Courgette', cursive;
}
.contact p {
	font-size: 30px;
	margin: 0;
}
.fresh-submit {
	background: #ffcc00;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}
.payment-methods {
	margin: 0 auto;
	max-width: 70%;
}
.payment-methods img {
	margin-top: 10px;
	width: 100%;
}
.griddle-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 2rem;
	background-color: #fff;
}
.griddle-table > thead > tr > th,
.griddle-table > tbody > tr > th,
.griddle-table > tfoot > tr > th,
.griddle-table > thead > tr > td,
.griddle-table > tbody > tr > td,
.griddle-table > tfoot > tr > td {
	text-align: left;
	padding: 1.6rem;
	vertical-align: top;
	border-top: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.griddle-table > thead > tr > th {
	font-weight: 400;
	color: #757575;
	vertical-align: bottom;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.griddle-table > caption + thead > tr:first-child > th,
.griddle-table > colgroup + thead > tr:first-child > th,
.griddle-table > thead:first-child > tr:first-child > th,
.griddle-table > caption + thead > tr:first-child > td,
.griddle-table > colgroup + thead > tr:first-child > td,
.griddle-table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.griddle-table > tbody + tbody {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}
table-bordered > thead > tr > th,
.griddle-table > tbody > tr > th,
.griddle-table > tfoot > tr > th,
.griddle-table > thead > tr > td,
.griddle-table > tbody > tr > td,
.griddle-table > tfoot > tr > td {
	border: 0;
	border-bottom: 1px solid #e0e0e0;
}
.griddle-table > thead > tr > th,
.griddle-table > thead > tr > td {
	border-bottom-width: 2px;
}
/* .griddle-table > tbody > tr:nth-child(odd) > td,
.griddle-table > tbody > tr:nth-child(odd) > th {
	background-color: #c7fff7;
} */
